* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(247, 243, 228);

  main,
  footer {
    width: 100%;
    max-width: 800px;
    background-color: white;
  }

  main {
    padding: 50px 50px 0;

    img {
      width: 100%;
    }

    .presentation {
      margin: 30px 0;
    }
  }

  footer {
    display: flex;
    justify-content: center;

    img {
      width: 250px;
    }
  }
}
